body {
	font-family: arial;
}

#corner-buttons {
	position: absolute;
	top: 5px;
	right: 5px;
}

.corner-button {
	float: left;
	border: none;
	background: transparent center no-repeat;
	height: 40px;
	width: 40px;
	padding: 0px;
	cursor: pointer;
}

#holder {
	position: relative;
	width: 800px;
	height: 600px;
	background-color: lightblue;
}

#play {
	background-color: rgba(255, 255, 255, .3);
	border-radius: 5px;
	border: 1px solid black;
	padding: 5px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 50px;
	width: 700px;
	text-align: center;

}

#play button{
	font-size: 150%;
	background-color: transparent;
	border-color: black;
	border-radius: 5px;
	box-shadow: 1px 1px rgba(0,0,0,.5);
}

#play button:hover {
	background-color: yellow;
	cursor: pointer;
}

.title {
	font-family: impact;
	font-style: italic;
}